<li class="annotation legislation">
  <span class="format">Legislation</span> <%= annotation.title %>
  <% if annotation.section.present? %>&mdash; <span class="metadata"><%= annotation.section %></span><% end %>
</li>
