<article class="need">
  <div class="row">
    <h1 class="reference span2"><span><%= @need.whole_reference %></span></h1>
    <h2 class="title span10"><%= @need.story %></h2>
  </div>

  <%= render :partial => "form" %>
</article>



