article.need {

  h1.reference {
    color: #fff;
    background: #2e358b;

    span { padding: 30px; font-weight: normal; text-align: center; display: block; }
  }
  h2.story {
    font-weight: normal;
    padding: 10px 0;
  }

}
